<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/result/" method="get">
        <input type="text" name='q' placeholder="keyword">
        <input type="submit" />
    </form>

    <hr>

    <form action="/result/" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% if filter.is_bound %}
    {% for obj in filter.qs %}
    {{ obj.name }} - ${{ obj.price }}<br />
    {% endfor %}
    {% endif %}
</body>

</html>